<% provide :title, 'Posts' %>

<section id="posts" class="section">
  <header class="section-header tac">
    <div class="container">
      <h1>Posts</h1>
      <%= link_to 'New Post', new_post_path, class: 'btn btn-secondary' %>
    </div>
  </header>
  <div class="section-body container post-list">
    <div class="row">
      <% @posts.each do |post| %>
        <article class="post col-md-4">
          <header class="post-header">
            <h2><%= truncate post.title, length: 30 %></h2>
            <time><%= post.created_at.to_date %></time>
          </header>
          <div class="post-body">
            <%= simple_format truncate(post.description) %>
          </div>
          <footer class="post-footer">
            <%= link_to 'Read more...', post %>
            <% if user_signed_in? %>
              <div class="fr">
                <%= link_to 'Edit', edit_post_path(post) %> |
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>
          </footer>
        </article>
      <% end %>
    </div>
  </div>
</section>
