<%
provide :title, @post.title
provide :og_url, post_url(@post)
provide :og_title, @post.title
provide :og_description, truncate(strip_tags(@post.description.html_safe), length: 150)
%>

<section class="section">
  <header class="section-header tac">
    <div class="container">
      <h1><%= @post.title %></h1>
    </div>
  </header>
  <div class="section-body container">
    <div class="section-bar">
      <time><%= l @post.created_at, format: :long %></time>
      <%= fb_like(post_url(@post)) %>
    </div>
    <%= raw @post.description %>
    <% if user_signed_in? %>
      <footer class="post-footer">
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Back', posts_path %>
      </footer>
    <% end %>
  </div>
</section>
