<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="UTF-8">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="on" http-equiv="cleartype">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <main class="main">
      <div class="main-body">
        <%= render 'shared/nav' %>
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </main>
    <%= render 'shared/scripts' %>
  </body>
</html>
